<div class="row">
	
  <div class="card-column">
    <div class="card">
      <img src="../images/omar.jpg" alt="Omar Asensio" style="width:100%">
      <div class="card-container">
        <h2>Omar Asensio</h2>
        <p class="card-title">Sound Tech &amp; SysAdmin</p>
        <p>Some freak who likes both audio and IT!</p>
        <p>thesoulbiz@gmail.com</p>
      </div>
    </div>
  </div>
  
    <div class="card-column">
    <div class="card">
      <img src="../images/garfield.jpg" alt="Garfield the Cat" style="width:100%">
      <div class="card-container">
        <h2>Garfield</h2>
        <p class="card-title">Eater &amp; Sleeper</p>
        <p>This is Garfield. Garfield likes lasagne.</p>
        <p>feedmehuman@catmail.com</p>
      </div>
    </div>
  </div>
  
</div>
